*.exe
*.run
*.sh
.cache
.clangd
.clang-format
CMakeLists.txt.*
compile_commands.json
dist/windows/*
dist/linux/*
docs/*
!docs/Doxyfile
!dist/windows/online-installer/
!dist/linux/online-installer/
TODO
