.cache
.clangd
.vscode
*.exe
*.run
*.sh
*.ts
!qc_ar.ts
!reciters.sh
!shortcuts.sh
!update_translations.sh
CMakeLists.txt.*
compile_commands.json
dist/windows/*
docs/*
!docs/Doxyfile
!dist/windows/online-installer/
TODO
