.cache
.clangd
.vscode
*.exe
*.run
*.sh
*.ts
docs/*
dist/windows/*
CMakeLists.txt.*
compile_commands.json
!qc_template.ts
!reciters.sh
!shortcuts.sh
!update_translations.sh
!docs/Doxyfile
!dist/windows/online-installer/
